#header {
	background-color: green;
	color: white;
	text-align: center;
	padding: 5px;
}

body,html {
	height: 100%;
	width: 100%;
}


#nav {
	line-height: 30px;
	background-color: #eeeeee;
	height: 830px;
	width: 150px;
	float: left;
	padding: 5px;
}

#footer {
	background-color: green;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}